name: build-mozjpeg

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    name: ${{ matrix.target }}
    runs-on: ${{ matrix.runs_on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: macos-arm64
            runs_on: macos-latest
            os: macos
            arch: arm64

          - target: macos-x64
            runs_on: macos-latest
            os: macos
            arch: x86_64

          - target: linux-x64
            runs_on: ubuntu-latest
            os: linux
            arch: x86_64

          - target: linux-arm64
            runs_on: ubuntu-latest
            os: linux
            arch: aarch64

          - target: windows-x64
            runs_on: windows-latest
            os: windows
            arch: x86_64

    steps:
      - uses: actions/checkout@v4

      # ---------- macOS ----------
      - name: Install dependencies (macOS)
        if: matrix.os == 'macos'
        shell: bash
        run: |
          set -euxo pipefail
          brew update
          brew install cmake

      # ---------- Linux ----------
      - name: Install dependencies (Linux x64)
        if: matrix.os == 'linux' && matrix.arch == 'x86_64'
        shell: bash
        run: |
          set -euxo pipefail
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential cmake unzip wget

      - name: Install dependencies (Linux arm64 cross)
        if: matrix.os == 'linux' && matrix.arch == 'aarch64'
        shell: bash
        run: |
          set -euxo pipefail
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential cmake unzip wget \
            gcc-aarch64-linux-gnu g++-aarch64-linux-gnu \
            qemu-user-static

      # ---------- Build (Unix) ----------
      - name: Build mozjpeg (Unix)
        if: matrix.os != 'windows'
        shell: bash
        run: |
          set -euxo pipefail

          cd "${{ github.workspace }}"
          ./build-mozjpeg.sh ${{ matrix.os }} ${{ matrix.arch }}

      # ---------- Build (Windows) ----------
      - name: Build mozjpeg (Windows)
        if: matrix.os == 'windows'
        shell: pwsh
        run: |
          ./build-windows.ps1

      # ---------- Artifacts ----------
      - name: Upload cjpeg artifact windows
        uses: actions/upload-artifact@v4
        if: matrix.os == 'windows'
        with:
          name: mozjpeg-${{ matrix.target }}
          path: |
            ${{ github.workspace }}/out/mozjpeg.exe
          if-no-files-found: error
          
      - name: Upload cjpeg artifact *nix
        uses: actions/upload-artifact@v4
        if: matrix.os != 'windows'
        with:
          name: mozjpeg-${{ matrix.target }}
          path: |
            ${{ github.workspace }}/out/${{ matrix.os }}-${{ matrix.arch }}/mozjpeg
          if-no-files-found: error

  create_release:
    name: Create Release
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      discussions: write
    steps:
      - name: Download windows-x64 as build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: windows-x64
          path: |
            ${{ github.workspace }}/windows-x64
