name: build-mozjpeg

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10  
  pull_request:
  schedule:
    - cron: '5 4 * * 1'

jobs:
  build:
    name: ${{ matrix.target }}
    runs-on: ${{ matrix.runs_on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: macos-arm64
            runs_on: macos-latest
            os: macos
            arch: arm64

          - target: macos-x64
            runs_on: macos-latest
            os: macos
            arch: x86_64

          - target: linux-x64
            runs_on: ubuntu-latest
            os: linux
            arch: x86_64

          - target: linux-arm64
            runs_on: ubuntu-latest
            os: linux
            arch: aarch64

          - target: windows-x64
            runs_on: windows-latest
            os: windows
            arch: x86_64

    steps:
      - uses: actions/checkout@v4

      # ---------- macOS ----------
      - name: Install dependencies (macOS)
        if: matrix.os == 'macos'
        shell: bash
        run: |
          set -euxo pipefail
          brew update
          brew install cmake

      # ---------- Linux ----------
      - name: Install dependencies (Linux x64)
        if: matrix.os == 'linux' && matrix.arch == 'x86_64'
        shell: bash
        run: |
          set -euxo pipefail
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential cmake unzip wget

      - name: Install dependencies (Linux arm64 cross)
        if: matrix.os == 'linux' && matrix.arch == 'aarch64'
        shell: bash
        run: |
          set -euxo pipefail
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential cmake unzip wget \
            gcc-aarch64-linux-gnu g++-aarch64-linux-gnu \
            qemu-user-static

      # ---------- Build (Unix) ----------
      - name: Build mozjpeg (Unix)
        if: matrix.os != 'windows'
        shell: bash
        run: |
          set -euxo pipefail

          cd "${{ github.workspace }}"
          ./build-mozjpeg.sh ${{ matrix.os }} ${{ matrix.arch }}

      # ---------- Build (Windows) ----------
      - name: Build mozjpeg (Windows)
        if: matrix.os == 'windows'
        shell: pwsh
        run: |
          ./build-windows.ps1

      # ---------- Artifacts ----------
      - name: Upload cjpeg artifact windows
        uses: actions/upload-artifact@v4
        if: matrix.os == 'windows'
        with:
          name: mozjpeg-${{ matrix.target }}
          path: |
            ${{ github.workspace }}/out/mozjpeg.exe
          if-no-files-found: error
          
      - name: Upload cjpeg artifact *nix
        uses: actions/upload-artifact@v4
        if: matrix.os != 'windows'
        with:
          name: mozjpeg-${{ matrix.target }}
          path: |
            ${{ github.workspace }}/out/${{ matrix.os }}-${{ matrix.arch }}/mozjpeg
          if-no-files-found: error

  create_release:
    name: Create Release
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      discussions: write
    steps:
      - name: Download mozjpeg-linux-arm64 as build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: mozjpeg-linux-arm64
          path: |
            ${{ github.workspace }}/mozjpeg-linux-arm64

      - name: Download mozjpeg-linux-x64 as build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: mozjpeg-linux-x64 
          path: |
            ${{ github.workspace }}/mozjpeg-linux-x64

      - name: Download mozjpeg-macos-arm64 as build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: mozjpeg-macos-arm64
          path: |
            ${{ github.workspace }}/mozjpeg-macos-arm64

      - name: Download mozjpeg-macos-x64 as build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: mozjpeg-macos-x64
          path: |
            ${{ github.workspace }}/mozjpeg-macos-x64

      - name: Download mozjpeg-windows-x64 as build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: mozjpeg-windows-x64
          path: |
            ${{ github.workspace }}/mozjpeg-windows-x64

      - name: Get tag name (needed for create release)
        id: get_tag_name
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT && cat $GITHUB_OUTPUT            

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@e798e6a1ede8d07b74ac4cdac6bdfa4cc1653907
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          files: |
            ${{ github.workspace }}/mozjpeg-linux-arm64
            ${{ github.workspace }}/mozjpeg-linux-x64
            ${{ github.workspace }}/mozjpeg-macos-arm64
            ${{ github.workspace }}/mozjpeg-macos-x64
            ${{ github.workspace }}/mozjpeg-windows-x64
          name: Release ${{ steps.get_tag_name.outputs.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fail_on_unmatched_files: true
          body: |
            ## Binaries

            - [mozjpeg-windows-x64](./mozjpeg-windows-x64/mozjpeg.exe)
            - [mozjpeg-linux-x64](./mozjpeg-linux-x64/mozjpeg)
            - [mozjpeg-linux-arm64](./mozjpeg-linux-arm64/mozjpeg)
            - [mozjpeg-macos-x64](./mozjpeg-macos-x64/mozjpeg)
            - [mozjpeg-macos-arm64](./mozjpeg-macos-arm64/mozjpeg)
